body {
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  text-align: center;
  padding: 40px;
  background-color: #f0f0f0;
}

h1 {
  color: #363636;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #636bb211;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
